body{
    background-color: #e2c8c8b0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: #2f999c;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    color: #def702;
    text-align: center;
    text-transform: uppercase;
    
    font-size: 70px;
}
h1,h2{
    font-family: 'Otomanopee One', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header img{
      border-radius: 300px;
      border: #def702 solid 25px;
      }

      main{
          max-width: 700px;
          margin: 0 auto;
          padding: 20px 20px 20px 20px;
      }
      main img{
          max-width: 100%;
      }
      h2{
          font-size: 50px;
          color:#a04242;
          margin: 40px 0px 10px;
      }
      p{
          font-size: 30px;
      }
      a{
        font-size: 30px;
        color:#c47e96;
      }
      a:hover{
          background-color: #6f3348;
          color: white;
      }
      footer{
          text-align: center;
          background-color: #6f3348;
          color: white;
          padding: 50px;
      }
      footer p{
          margin:0;
      }
      ol{
          font-size: 30px;
      }
      li{
          font-size: 30px;}
      h1{
            animation-duration: 3s;
            animation-name: slidein;
          }
          
          @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }
          
      /* The animation code */
@keyframes example {
    0%   { left:-600px; top:-600px;}
    60%  { left:200px; top:200px;}
    100% { left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  header img {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
  }    
  @keyframes example1 {
    0%   { left:-600px; top:0px;}
    60%  { left:200px; top:0px;}
    100% { left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  p {
    position: relative;
    animation-name: example1;
    animation-duration: 1s;
    animation-delay: 2.5s;
  }
  h2 {
    position: relative;
    animation-name: example1;
    animation-duration: 1s;
    animation-delay: 2.5s;
  }

